.link{
	margin: 5px;
	color: lightgrey;
}
.git:hover{
	color: black;
}
.git:focus{
	color: black;
}
#back-to-top{
	display: none;
    font-size: 2em;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
		box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.game .images{
	margin-top: 5px;
	width: 100%;
	overflow: hidden;
	max-height: 30px;
}
.game .images div{
	height: 30px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}
.game .images img{
	height: 100%;
}

@media screen and (max-width: 930px) {
	#back-to-top{
	    top: 20px;
	    bottom: auto;
	}
}

.blueimp-gallery>.slides>.slide>.slide-content{
	padding: 5px;
}