// Global CSS
link(rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="https://unpkg.com/bootswatch@3.3.7/lumen/bootstrap.min.css")

// Plugins CSS
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism-okaidia.min.css")

// Theme CSS
link(rel="stylesheet" href="/assets/css/utils.css")
link(rel="stylesheet" href="/assets/css/styles.css")

// lib
script(type="text/javascript" src="https://unpkg.com/jquery/dist/jquery.min.js")
script(type="text/javascript" src="https://unpkg.com/tether/dist/js/tether.min.js")
script(type="text/javascript" src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js")

// prism
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-javascript.min.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-css.min.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-json.min.js")
script(type="text/javascript" src="/assets/js/utils.js")
script(type="text/javascript" src="/assets/js/ga.js")