.header.panel.panel-default.panel-no-alpha
	.panel-body
		.row.hidden-xs
			.col-sm-2.col-sm-offset-0.col-md-1.col-md-offset-1.col-lg-1.hidden-xs(style="transition-delay: 0.1s;")
				a(href="/")
					img.profile-image.img-circle.img-responsive(src=github.avatar_url)
			// title
			.col-xs-12.col-sm-8.col-md-8.col-lg-9.no-padding-left
				.hidden-xs
					h3.no-margin-top= github.name
					h6.text-muted= info.description
				.nav-buttons
					each link in navLinks
						a.btn.btn-default(href=link.href)
							i.fa(class='fa-' + link.icon)
							= ' '+link.title

		// mobile nav
		include ./mobile-nav
