include ../../includes/mixins

+page("About")
	.container.no-padding-xs
		.panel.panel-default
			.panel-body
				h3#about.no-margin-top
					i.fa.fa-info-circle
					|  About
				.clearfix
					include:markdown-it(html) ../../markdown/about.md
				h3#story
					i.fa.fa-book
					|  Story
				.clearfix
					include:markdown-it(html) ../../markdown/story.md
