include ../../includes/mixins

+page("Games")
	.container.no-padding-xs
		.panel.panel-default
			.panel-body
				h3.no-margin-top
					i.fa.fa-gamepad
					|  Games
					br.visible-xs
					small Games I built
				.row
					each game in games
						.col-xs-12
							+game(game)
