@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono:400,700');

body {
	font-family: 'Share Tech Mono', sans-serif;
	overflow-x:hidden;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
	font-family: inherit !important;
	font-weight: 700;
}

a:not([href]){
	cursor: pointer;
}
a.no-link{
	color: inherit;
	text-decoration: none;
}
span.first-letter{
	font-size: 3em;
	display: inline;
	float: left;
	line-height: 1em;
	margin-right: 5px;
}
[data-image-modal]{
	cursor: pointer;
}

/* overwrite bootstrap */
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width: 100%;
}
.panel-body>.page-header{
	margin-top: 0;
}
.modal-dialog.modal-xl{
	width: 90%;
}

.social .btn{
	border-radius: 50%;
	font-size: 1.2em;
	width: 2em;
	height: 2em;
	text-align: center;
	justify-content: center;
	line-height: 0px;
	padding: .4em;
}

.btn.btn-outline {
	background: none;
	border-width: 2px;
	padding: 0.5em 2em;
	box-shadow: none;
	outline: none !important;
}
.btn.btn-outline:hover{
	border-color: #151515;
}

/* background */
html{
	background: #2f2d3a;
}
body{
	background: transparent;
}
.background-wrapper {
	position: fixed;
	z-index: -1;
	perspective: 100vw;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.background-wrapper pre{
	padding: 0;
	overflow: visible;
}
.background-wrapper code, .background-wrapper pre{
	position: absolute;
	font-size: 20px;
	tab-size: 4;
	border: none;
	background: none;
}
/* #page>*{
	display: none;
}
#page{
	height: 1000vh;
} */

/* show animation */
.show-animate{
	transition: transform 0.5s ease, opacity 0.5s ease;
}
body.page-showing .show-animate.hide-right{
	transform: translateX(100vw);
}
body.page-showing .show-animate.hide-left{
	transform: translateX(-100vw);
}
body.page-showing .show-animate.hide-up{
	transform: translateY(-100vh);
}
body.page-showing .show-animate.show-fade{
	opacity: 0;
}
body .header{
	transition: background 0.5s ease, border-color 0.5s ease;
}
body.page-showing .header{
	background: transparent;
	border-color: transparent;
}

.delay-2{
	transition-delay: 0.2s;
}
.delay-3{
	transition-delay: 0.3s;
}
.delay-4{
	transition-delay: 0.4s;
}
.delay-6{
	transition-delay: 0.6s;
}
.delay-8{
	transition-delay: 0.8s;
}
.delay-10{
	transition-delay: 1s;
}

/* mobile nav */
.mobile-nav .slide {
	position: fixed;
	top: 0;
	left: -100%;
	width: 70vw;
	height: 100vh;
	z-index: 100;
	overflow: auto;
	transition: left 0.5s ease;
}
.mobile-nav .overlay{
	background: transparent;
	transition: background 0.5s ease;
}
body.nav-open .mobile-nav .slide{
	left: 0;
}

body.nav-open .mobile-nav .overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 50;
}
body.nav-open{
	overflow-y: hidden;
}
.mobile-nav .open-nav {
	/* position: absolute; */
	z-index: 50;
	outline: none;
}

.overlay-icon{
	display: block;
	position: absolute;
	color: rgba(0,0,0,0.5);
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
