{{> header}}

<div class="container no-padding-xs">
	{{! about }}
	<div class="panel panel-default">
		<div class="panel-body">
		  	<h3 id="about" class="no-margin-top"><a><i class="fa fa-hashtag"></i></a> About</h3>
			<div class="clearfix">
				{{>about}}
			</div>

		  	<h3 id="story"><a href="#story"><i class="fa fa-hashtag"></i></a> Story <i class="fa fa-book"></i></h3>
			<div class="clearfix">
				{{>story}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
