{{> header}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="page-header no-margin-bottom">
				  		<h3 class="no-margin-top"><i class="fa fa-info-circle"></i> About</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
