{{> header}}

<div class="container no-padding-xs">
	{{! about }}
	<div class="panel panel-default">
		<div class="panel-body">
		  	<h3 id="about" class="no-margin-top"><i class="fa fa-info-circle"></i> About</h3>
			<div class="clearfix">
				{{>about}}
			</div>

		  	<h3 id="story"><i class="fa fa-book"></i> Story</h3>
			<div class="clearfix">
				{{>story}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
