{{> header}}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-xs-12">
			{{! about }}
			<section class="show-animate hide-left" style="transition-delay: 0.2s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-info-circle"></i> About</h3>

						<p>{{>about}}</p>
					</div>
				</div>
			</section>

			{{! projects }}
			<section class="show-animate hide-left" style="transition-delay: 0.3s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-trophy"></i> Projects</h3>

						{{#projects}}
							{{>project}}
						{{/projects}}
					</div>
				</div>
			</section>

			{{! skills }}
			<section class="show-animate hide-left" style="transition-delay: 0.4s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-wrench"></i> Skills</h3>

						<div class="row">
							{{#skills}}
								<div class="col-xs-12 col-sm-6">
								{{> skill}}
								</div>
							{{/skills}}
						</div>
					</div>
				</div>
			</section>

			{{! backgrounds }}
			<section class="show-animate hide-left" style="transition-delay: 0.4s;">
				<div class="panel panel-default">
					<div class="panel-body no-padding-bottom">
						<h3 class="no-margin-top"><i class="fa fa-image"></i> Backgrounds</h3>

						<div class="row">
							{{#backgrounds}}
							<div class="col-xs-6">
								<a class="thumbnail open-image-modal" href="{{src}}" target="_blank">
									<img src="{{thumbnail}}">
								</a>
							</div>
							{{/backgrounds}}
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="secondary col-md-4 col-sm-12 col-xs-12">
			{{! pens }}
			<div class="panel panel-default show-animate hide-right delay-5 hidden-xs">
				<div class="panel-body no-padding-bottom">
					<div class="page-header clearfix no-margin">
						<a href="//codepen.io/rdfriedl" target="_blank" class="btn btn-success btn-xs pull-right"><i class="fa fa-codepen"></i> More</a>
						<h3 class="no-margin"><i class="fa fa-codepen"></i> Pens</h3>
					</div>

					<div class="row">
						{{#pens}}
						<div class="col-xs-12">
							<a href="/pens/view?id={{id}}" class="thumbnail no-link">
								<img class="img-responsive project-image" src="{{thumbnail}}"/>
								<h5 class="text-center">{{title}}</h5>
							</a>
						</div>
						{{/pens}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
