{{> header}}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-xs-12 no-padding-xs">
			{{! about }}
			<section class="show-animate hide-left" style="transition-delay: 0.2s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-info-circle"></i> About</h3>

						<p>{{>about}}</p>
					</div>
				</div>
			</section>

			{{! work }}
			<section class="show-animate hide-left" style="transition-delay: 0.3s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-users"></i> Work <br class="visible-xs"><small>My Work Experience</small></h3>

						{{#each work}}
							{{> work-project}}
						{{/each}}
					</div>
				</div>
			</section>

			{{! projects }}
			<section class="show-animate hide-left" style="transition-delay: 0.3s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-trophy"></i> Projects <br class="visible-xs"><small>My personal projects</small></h3>

						{{#each projects}}
							{{> project}}
						{{/each}}
					</div>
				</div>
			</section>

			{{! skills }}
			<section class="show-animate hide-left" style="transition-delay: 0.4s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="no-margin-top"><i class="fa fa-wrench"></i> Skills <br class="visible-xs"><small>My unique skillset</small></h3>

						<div class="columns columns-sm-2">
							{{#each skills}}
							<div class="column">
								{{> skill}}
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</section>

			{{! backgrounds }}
			<section class="show-animate hide-left" style="transition-delay: 0.4s;">
				<div class="panel panel-default">
					<div class="panel-body no-padding-bottom">
						<h3 class="no-margin-top"><i class="fa fa-image"></i> Backgrounds</h3>

						<div class="columns columns-sm-2">
							{{#each backgrounds}}
							<div class="column">
								<a class="thumbnail no-margin" href="{{src}}" data-image-modal="{{src}}" target="_blank">
									<img src="{{thumbnail}}">
								</a>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="secondary col-md-4 col-sm-12 col-xs-12 hidden-xs">
			{{! pens }}
			<div class="panel panel-default show-animate hide-right delay-5">
				<div class="panel-body no-padding-bottom">
					<a href="//codepen.io/rdfriedl" target="_blank" class="btn btn-success btn-xs pull-right"><i class="fa fa-codepen"></i> More</a>
					<h3 class="no-margin-top"><i class="fa fa-codepen"></i> Pens</h3>

					<div class="columns">
						{{#each pens}}
						<div class="column">
							{{> pen}}
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
