{{>header}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="page-header no-margin-bottom">
						<a href="https://codepen.io/rdfriedl" class="btn btn-success pull-right" target="_blank">More Pens</a>
				  		<h3 class="no-margin-top"><i class="fa fa-codepen"></i> CodePen Pens</h3>
					</div>

					<div class="row">
						{{#pens}}
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<h5>{{title}}</h5>
							<a href="/pens/view?id={{id}}">
								<img class="img-responsive project-image" src="{{thumbnail}}"/>
							</a>
						</div>
						{{/pens}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
