{{>small-header}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					{{#game}}
					<div class="page-header no-margin-bottom">
						<div class="btn-group pull-right hidden-xs">
							<a href="{{game.sourceURL}}" class="btn btn-success" target="_blank"><i class="fa fa-code"></i> Source</a>
							<a href="{{game.playURL}}" class="btn btn-info" target="_blank"><i class="fa fa-reply" style="transform: scaleX(-1)"></i> Open</a>
						</div>
				  		<h2 class="no-margin-top">
							<a href="/games" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
							{{game.title}}
						</h2>
					</div>

					<iframe src="{{game.playURL}}" style="width: 100%; height: 90vh; border: none;" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation"></iframe>

					<div class="btn-group btn-group-justified visible-xs">
						<a href="{{game.sourceURL}}" class="btn btn-success" target="_blank"><i class="fa fa-code"></i> Source</a>
						<a href="{{game.playURL}}" class="btn btn-info" target="_blank"><i class="fa fa-codepen"></i> More Pens</a>
					</div>
					{{/game}}

					{{^game}}
					<h2 class="text-center">
						404....looks like that game dose not exist
						<br>
						<small>but check out these other cool ones</small>
					</h2>
					{{/game}}
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
