{{> header}}

<div class="container no-padding-xs">
	<div class="panel panel-default">
		<div class="panel-body no-padding-bottom">
	  		<h3 class="no-margin-top"><i class="fa fa-wrench"></i> Skills <br class="visible-xs"><small>My unique skillset</small></h3>

			<div class="columns columns-sm-2 columns-md-3">
				{{#each skills}}
				<div class="column">
					{{> skill}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
