{{>header}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-2 no-padding-right">
							<a href="{{skill.tech.siteURL}}" target="_blank"><img class="img-responsive" src="{{skill.tech.thumbnail}}"/></a>
						</div>
						<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
							<a href="{{skill.tech.siteURL}}" class="btn btn-info btn-sm pull-right" target="_blank"><i class="fa fa-globe"></i> Visit Site</a>
					  		<a href="{{skill.tech.siteURL}}" target="_blank" style="color: white; text-decoration: none;">
					  			<h2 class="no-margin-top">{{skill.tech.title}} <br class="visible-xs"><small>{{skill.tech.description}}</small></h2>
					  		</a>

					  		<p>{{skill.about}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-2">
							<p class="label">Knowledge</p>
							<div class="progress no-margin-bottom">
								<div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{skill.knowledge}}%"></div>
							</div>
							<p class="label">Experience</p>
							<div class="progress no-margin-bottom">
								<div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{skill.experience}}%"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="page-header no-margin-bottom">
						<h3 class="no-margin-top">Other Skills</h3>
					</div>

					<div class="row">
						{{#otherSkills}}
						<div class="col-xs-12 col-sm-6 col-md-4">
							{{>skill}}
						</div>
						{{/otherSkills}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
