{{> header}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<section class="show-animate hide-left" style="transition-delay: 0.2s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header no-margin-bottom">
							<h3 class="no-margin-top"><i class="fa fa-users"></i> Contributions</h3>
						</div>

						<div class="row">
							{{#work}}
								<div class="col-xs-12">
									{{>work-project}}
								</div>
							{{/work}}
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

{{>footer}}
