{{> header}}

<div class="container no-padding-xs">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="no-margin-top"><i class="fa fa-users"></i> Work <br class="visible-xs"><small>My Work Experience</small></h3>

			<div class="row">
				{{#each work}}
					<div class="col-xs-12">
						{{> work-project}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{> footer}}
