{{> header}}

<div class="container no-padding-xs">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header no-margin-bottom">
				<h3 class="no-margin-top"><i class="fa fa-users"></i> Work <br class="visible-xs"><small>My Work Experience</small></h3>
			</div>

			<div class="row">
				{{#work}}
					<div class="col-xs-12">
						{{>work-project}}
					</div>
				{{/work}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
