include ../../includes/mixins

+page("Projects")
	.container.no-padding-xs
		.panel.panel-default
			.panel-body
				h3.no-margin-top
					i.fa.fa-trophy
					|  Projects
					br.visible-xs
					small My personal projects
				.row
					each project in projects
						.col-xs-12
							+project(project)
