<div class="header panel panel-default panel-no-alpha">
	<div class="panel-body" style="position: relative;">
		<div class="row show-animate show-fade delay-3 hidden-xs" style="position: absolute; width: 100%; bottom: 0; margin-bottom: 15px;">
			<div class="col-xs-12 col-sm-8 col-sm-offset-4 col-lg-9 col-lg-offset-3">
				<a href="/home" class="btn btn-default btn-outline"><i class="fa fa-home"></i> Home</a>
				<a href="/about" class="btn btn-default btn-outline"><i class="fa fa-info-circle"></i> About</a>
				<a href="/skills" class="btn btn-default btn-outline"><i class="fa fa-wrench"></i> Skills</a>
				<a href="/projects" class="btn btn-default btn-outline"><i class="fa fa-trophy"></i> Projects</a>
				<a href="/pens" class="btn btn-default btn-outline"><i class="fa fa-codepen"></i> Pens</a>
			</div>
		</div>
		<div class="row">
			<!-- desktop profile image -->
			<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-1 col-lg-2 show-animate hide-left hidden-xs" style="transition-delay: 0.1s;">
				<a href="/home">
					<img class="profile-image img-circle img-responsive" src="{{github.avatar_url}}"/>
				</a>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-9 hidden-xs">
				<a href="/home" class="no-link">
					<h1 class="show-animate hide-up no-margin-bottom" style="display: block;">{{info.name}}</h1>
					<h4 class="text-muted show-animate hide-up" style="display: block;">{{info.description}}</h4>
				</a>
				<ul class="social list-inline show-animate hide-left">
					{{#links}}
						<li data-toggle="tooltip" data-placement="bottom" title="{{title}}"><a class="btn btn-info" href="{{href}}" target="_blank"><i class="fa fa-{{icon}}"></i></a></li>
					{{/links}}
				</ul>
			</div>
		</div>

		{{! mobile nav }}
		<div class="mobile-nav visible-xs">
			<div data-add-class="body|nav-open">
				<button type="button" class="show-animate hide-left btn btn-primary open-nav pull-left"><i class="fa fa-navicon"></i></button>
				<h1 class="show-animate hide-right text-center no-margin">{{info.name}}</h1>
			</div>

			<div class="overlay" data-remove-class="body|nav-open"></div>
			<div class="slide panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-1 col-lg-2" style="transition-delay: 0.1s;">
							<a href="/home">
								<img class="profile-image img-circle img-responsive" src="{{github.avatar_url}}" style="max-height: 200px;width: auto;margin: auto;"/>
							</a>
						</div>
						<div class="col-xs-12 text-center">
							<a href="/home" class="no-link">
								<h3>{{info.name}}</h3>
								<h5 class="text-muted">{{info.description}}</h5>
							</a>
							<ul class="social list-inline">
								{{#links}}
									<li data-toggle="tooltip" data-placement="bottom" title="{{title}}"><a class="btn btn-info" href="{{href}}" target="_blank"><i class="fa fa-{{icon}}"></i></a></li>
								{{/links}}
							</ul>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<a href="/home" class="btn btn-default btn-outline btn-block"><i class="fa fa-home"></i> Home</a>
							<a href="/about" class="btn btn-default btn-outline btn-block"><i class="fa fa-info-circle"></i> About</a>
							<a href="/skills" class="btn btn-default btn-outline btn-block"><i class="fa fa-wrench"></i> Skills</a>
							<a href="/projects" class="btn btn-default btn-outline btn-block"><i class="fa fa-trophy"></i> Projects</a>
							<a href="/pens" class="btn btn-default btn-outline btn-block"><i class="fa fa-codepen"></i> Pens</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
