<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-xs-12">
			{{! projects }}
			<!-- <section class="show-animate hide-left" style="transition-delay: 0.2s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Projects</h3>
						</div>

						{{#projects}}
							{{> project}}
						{{/projects}}
					</div>
				</div>
			</section> -->

			{{! games }}
			<section class="show-animate hide-left" style="transition-delay: 0.2s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3><i class="fa fa-gamepad"></i> Games</h3>
						</div>

						{{#games}}
							{{> game}}
						{{/games}}
					</div>
				</div>
			</section>

			{{! expariment }}
			<section class="show-animate hide-left" style="transition-delay: 0.3s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3><i class="fa fa-pie-chart"></i> Experiments</h3>
						</div>

						{{#expariments}}
							{{> expariment}}
						{{/expariments}}
					</div>
				</div>
			</section>

			{{! backgrounds }}
			<section class="show-animate hide-left" style="transition-delay: 0.4s;">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3><i class="fa fa-image"></i> Backgrounds</h3>
						</div>

						{{#backgrounds}}
						<div class="col-xs-12 col-sm-6">
							<a class="thumbnail" href="#" target="_blank" onclick="{previewImage('{{src}}')}">
								<img src="{{thumbnail}}">
							</a>
						</div>
						{{/backgrounds}}
					</div>
				</div>
			</section>
		</div>
		<div class="secondary col-md-4 col-sm-12 col-xs-12">
			<div class="panel panel-default show-animate hide-right" style="transition-delay: 0.3s;">
				<div class="panel-body">
					<div class="page-header">
						<h4><i class="fa fa-wrench"></i> Tools / Utilities</h4>
					</div>

					{{#tools}}
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12" >
							<a href="{{openURL}}" target="_blank">
								<img class="img-responsive project-image" src="{{thumbnail}}"/>
							</a>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<h5>{{title}}</h5>
							<p>{{description}}</p>
							{{#tags}}
							<span class="label label-{{type}}">{{message}}</span>
							{{/tags}}

							<div class="btn-group btn-group-sm pull-right">
								<a href="{{openURL}}" class="btn btn-default btn-success">Open</a>
								{{#demo}}
								<a href="{{demo}}" class="btn btn-default btn-info" target="_blank">Demo</a>
								{{/demo}}
								{{#example}}
								<a href="{{example}}" class="btn btn-default btn-info" target="_blank">Example</a>
								{{/example}}
								{{#sourceURL}}
								<a href="{{sourceURL}}" class="btn btn-default btn-warning" target="_blank">Source</a>
								{{/sourceURL}}
							</div>
						</div>
					</div>
					{{/tools}}
				</div>
			</div>

			{{! pens }}
			<div class="panel panel-default show-animate hide-right" style="transition-delay: 0.5s;">
				<div class="panel-body">
					<div class="page-header">
						<a href="//codepen.io/rdfriedl" target="_blank" class="btn btn-success btn-xs pull-right"><i class="fa fa-codepen"></i> More</a>
						<h4><i class="fa fa-codepen"></i> Pens</h4>
					</div>

					{{#pens}}
					<div class="row">
						<a href="#" class="col-md-4 col-sm-4 col-xs-12" onclick="{previewPen('{{id}}')}" target="_blank">
							<img class="img-responsive project-image" src="https://dl.dropboxusercontent.com/spa/ihqn7sv44ik7per/site-assets/pens/{{id}}.png"/>
						</a>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<h5>{{title}}</h5>
							<div class="btn-group btn-group-sm pull-right">
								<a href="#" onclick="{previewPen('{{id}}')}" class="btn btn-default btn-success" target="_blank">Open</a>
								<a href="http://codepen.io/rdfriedl/pen/{{id}}" class="btn btn-default btn-info" target="_blank"><i class="fa fa-codepen"></i> Source</a>
							</div>
						</div>
					</div>
					{{/pens}}
				</div>
			</div>
		</div>
	</div>
</div>
