<div class="header panel panel-default panel-no-alpha">
	<div class="panel-body">
		<div class="row">
			<!-- desktop profile image -->
			<div class="col-sm-2 col-sm-offset-0 col-md-1 col-md-offset-1 col-lg-1 hidden-xs" style="transition-delay: 0.1s;">
				<a href="/home">
					<img class="profile-image img-circle img-responsive" src="{{github.avatar_url}}"/>
				</a>
			</div>
			<!-- mobile -->
			<div class="col-xs-4 col-xs-offset-4 visible-xs" style="transition-delay: 0.1s;">
				<img class="profile-image img-circle img-responsive" src="{{github.avatar_url}}"/>
			</div>

			<!-- title -->
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 no-padding-left">
				<div class="hidden-xs">
					<h3 class="no-margin-top">{{info.name}}</h3>
					<h6 class="text-muted ">{{info.description}}</h6>
				</div>
				<div class="visible-xs text-center">
					<h3>{{info.name}}</h3>
					<h6 class="text-muted">{{info.description}}</h6>
				</div>

				<div class="nav-buttons">
					<a href="/home" class="btn btn-default btn-outline"><i class="fa fa-home"></i> Home</a>
					<a href="/about" class="btn btn-default btn-outline"><i class="fa fa-info-circle"></i> About</a>
					<a href="/games" class="btn btn-default btn-outline"><i class="fa fa-gamepad"></i> Games</a>
					<a href="/pens" class="btn btn-default btn-outline"><i class="fa fa-codepen"></i> Pens</a>
				</div>
			</div>
		</div>
	</div>
</div>
