mixin page(title, smallerHeader)
	- var pageTitle = title ? github.name + ' - ' + title : github.name;
	html(lang="en")
		head
			title= pageTitle

			include ../includes/meta
			include ../includes/scripts
		body
			#page
				if smallerHeader
					include ../includes/small-header
				else
					include ../includes/header

				block
				include ../includes/footer