mixin pen(_pen)
	a.no-link(href="/pens/"+_pen.id)
		.panel.panel-grey.hover-shadow.no-margin
			.panel-body
				img.img-responsive.project-image(src=_pen.thumbnail)
				h5.text-center.no-margin-bottom= _pen.title
