mixin pen(pen)
	a.no-link(href="/pens/view?id="+pen.id)
		.panel.panel-grey.hover-shadow.no-margin
			.panel-body
				img.img-responsive.project-image(src=pen.thumbnail)
				h5.text-center.no-margin-bottom= pen.title
