include ../../includes/mixins

- var otherPens = [];
- while(otherPens.length < 4){
-		var p;
- 	while(p === pen || otherPens.includes(p) || !p) {
- 		p = pens[Math.floor(Math.random() * pens.length)];
- 	}
-		otherPens.push(p);
- }

+page(pen.title, true)
	.container.no-padding-xs
		// pen
		.panel.panel-default
			.panel-body
				.btn-group.pull-right.hidden-xs
					a.btn.btn-success(href="https://codepen.io/rdfriedl/pen/"+pen.id, target="_blank")
						i.fa.fa-code
						|  Source
					a.btn.btn-info(href="https://codepen.io/rdfriedl", target="_blank")
						i.fa.fa-codepen
						|  More Pens
				h2.no-margin-top.hidden-xs
					a.btn.btn-default.hidden-sm(href="/pens")
						i.fa.fa-arrow-left
						|  Back
					= ' '+pen.title
				h3.no-margin-top.visible-xs.text-center
					= ' '+pen.title
				p#pen-preview.codepen(data-theme-id="dark", data-slug-hash=pen.id, data-default-tab="result", data-user="rdfriedl", data-embed-version="2")
				script.
					document.getElementById('pen-preview').setAttribute('data-height', window.innerHeight - (20) * 2)
				script(src="https://production-assets.codepen.io/assets/embed/ei.js")
				.btn-group.btn-group-justified.visible-xs
					a.btn.btn-success(href="https://codepen.io/rdfriedl/pen/"+pen.id, target="_blank")
						i.fa.fa-code
						|  Source
					a.btn.btn-info(href="https://codepen.io/rdfriedl", target="_blank")
						i.fa.fa-codepen
						|  More Pens

		// Other pens
		.panel.panel-default
			.panel-body
				h3.hidden-xs.no-margin-top Other Pens
				h3.visible-xs.text-center.no-margin-top Other Pens

				.columns.columns-sm-2.columns-md-3.columns-lg-4
					each otherPen in otherPens
						.column
							+pen(otherPen)
