include ../../includes/mixins

+page('Pens')
	.container.no-padding-xs
		.panel.panel-default
			.panel-body
				.clearfix
					a.btn.btn-success.pull-right.hidden-xs.no-margin-bottom(href="https://codepen.io/rdfriedl", target="_blank")
						i.fa.fa-codepen
						|  More Pens
					h3.no-margin-top
						i.fa.fa-codepen
						|  CodePen Pens
						br.visible-xs
						small some cool experiments I built
					.row.visible-xs
						.col-xs-8.col-xs-offset-2
							a.btn.btn-large.btn-block.btn-success.btn-sm.margin-bottom-10(href="https://codepen.io/rdfriedl", target="_blank")
								i.fa.fa-codepen
								|  More Pens
				.columns.columns-sm-2.columns-md-3.columns-lg-4
					each pen in pens
						.column
							+pen(pen)